body {
    background-image: url(https://raw.githubusercontent.com/mhtarokh/hyf-homework/master/html-css/week1/dark.jpg);
    background-size: 1000px;
    background-repeat: repeat;
    width: 100%;
    margin: auto;
    background-position: center;
    background-position-x: center;
}

#title {
    width: 30%;
    margin: 15% 35% 5% 35%;
    text-align: center;
    color: yellow;
}

h1 {
    animation-name: shshsh;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    left: -1px;
    text-align: center;
    color: yellow;
}

a {
    color: white;
}

#my_picture {
    width: 20%;
    height: 20%;
    margin-top: 10%;
    border-radius: 25px;
    overflow: hidden;
}

#contact_info {
    margin-top: 5%;
    background: none;
    color: yellow;
    font-style: italic;
    text-align: center;
    line-height: 50px;
}

#about_me {
    margin: 5% 25% 5% 25%;
    width: 50%;
    color:yellow;
    text-align: center;
}


.my_list {
    margin: 5% 25% 5% 25%;
    background: none;
    color: yellow;
    font-style: italic;
    line-height: 25px;
    float: auto;
}

@keyframes shshsh {
    0%  {left: 0px}
    9%  {left: 0px}
    10% {left:-20px}
    11% {left: 0px}
    35% {left: 0px}
    36% {left: 10px}
    37% {left: 0px}
    50% {left: 0px; top: 0px}
    51% {left:-10px; top: 10px}
    52% {left: 0px; top: 0px}
    60% {top: 0px}
    61% {top: -10px}
    62% {top: 0px}
    70% {left: 0px}
    71% {left: 5px}
    72% {left: 0px}
    80% {top: 0px}
    81% {top: 20px}
    82% {left: 0px; top: 0px}
    90% {left: 0px; top: 0px}
    91% {left: 20px; top: 5px}
    92% {left: 0px; top: 0px}
    100%{left: 0px}
}
